[submodule "backend/infra"]
	path = backend/infra
	url = https://github.com/Yulian302/infra-lfusys
[submodule "frontend/lfusys-app"]
	path = frontend/lfusys-app
	url = https://github.com/Yulian302/frontend-lfusys-app
[submodule "backend/services"]
	path = backend/services
	url = https://github.com/Yulian302/lfusys-microservices.git
