# deps and build artifacts
.tmp/
tmp/
.cache/


# local dev files
.git/
.gitignore
.vscode/
.idea/
*.swp
.DS_STORE
Thumbs.db
Makefile

# docs and logs
*.log
.cache
README.md

# Docker-related files
Dockerfile*
.dockerignore
docker-compose*.yml


*lock


# local project folders
infra/
