services:
  gateway:
    build:
      context: .
      dockerfile: Dockerfile.dev
      target: gateway
    ports:
      - "8080:8080"
    env_file:
      - ./services/gateway/.env
    depends_on:
      - sessions
    volumes:
      - ./services/gateway:/app/services/gateway
      - ./services/commons:/app/services/commons

  sessions:
    build:
      context: .
      dockerfile: Dockerfile.dev
      target: sessions
    env_file:
      - ./services/sessions/.env
    volumes:
      - ./services/sessions:/app/services/sessions
      - ./services/commons:/app/services/commons

  uploads:
    build:
      context: .
      dockerfile: Dockerfile.dev
      target: uploads
    ports:
      - "8081:8080" # only for testing
    env_file:
      - ./services/uploads/.env
    volumes:
      - ./services/uploads:/app/services/uploads
      - ./services/commons:/app/services/commons

  redis:
    image: redis:7-alpine
    container_name: redis
    restart: unless-stopped
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    command: ["redis-server", "--appendonly","yes"]

volumes:
  redis_data: